<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
							<!--							{{getState}}-->
						</legend>
						<div class="uk-child-width-1-4@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.ref_number">
									<label>Nomor Surat</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.title">
									<label>Judul Surat</label>
								</ScInput>
							</div>
							<div>
<!--								<label class="uk-form-label">-->
<!--									Jenis Surat-->
<!--								</label>-->
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.type_of_letter"
											:options="['Laporan', 'Undangan', 'Peresmian']"
											:settings="{ 'width': '100%', 'placeholder': 'Select a jenis surat...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<ScInput v-model="mData.publish_date" v-flatpickr="dtPicker">
									<label>Tanggal Terbit</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-4@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.from">
									<label>Dari</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.to">
									<label>Untuk</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.letter_loc_number">
									<label>Nomor Letak Surat</label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">Upload File Scanner</label>
								<div data-uk-form-custom="target: true">
									<input type="file" @change="readFile">
									<input class="uk-visible@s uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
									<input class="uk-hidden@s uk-input uk-form-width-small" type="text" placeholder="Select file" disabled>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<!--			<a href="javascript:void(0)" @click="testPersisted" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image banner; pos: left">-->
			<!--				<i class="mdi mdi-image-plus"></i>-->
			<!--			</a>-->
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
			<!--			<a href="javascript:void(0)" @click="testPersisted" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">-->
			<!--				<i class="mdi mdi-check"></i>-->
			<!--			</a>-->
		</div>
		<UploadFilePercentage/>
	</div>
</template>

<script>
	// import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	// import { mapState } from 'vuex'
	// import * as changeCase from "change-case";
	import ProgressPercentage from '~/components/UploadFilePercentage'
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import Flatpickr from '~/plugins/flatpickr'
	import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
	import UploadFilePercentage from "../../../../components/UploadFilePercentage";
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		// middleware: 'router-auth',
		components: {
			UploadFilePercentage,
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			ProgressPercentage
		},
		async asyncData(context){
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					// listOrganization: listOrganization.data.data,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`cms/document/list/id=${context.params.id}/page=1/limit=1/column-sort=id/sort=desc`)
				editedIndex = 1
				// console.log(listData.data.data[0])
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){
			// console.log(Object.entries(route.query).length === 0)
		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			mData: {
				ref_number: '',
				type_of_letter: '',
				publish_date: '',
				title: '',
				from: '',
				to: '',
				letter_loc_number: '',
				files: '',
			},
		}),
		mounted() {
			// if (this.$store.state.document.dataAddDocument !== null && this.$route.params.id === 'add'){
			// 	this.mData = this.$store.state.document.dataAddKlausul
			// }
		},
		created	(){
			// if (this.listData !== null){
			// 	this.mData = {
			// 		id: this.listData.id,
			// 		title: this.listData.title,
			// 		content: this.listData.content,
			// 		position: this.listData.position.toString(),
			// 		category: this.listData.category,
			// 		klausul_type: changeCase.capitalCase(this.listData.klausul_type),
			// 	}
			// }
		},
		computed: {
			dtPicker () {
				let self = this;
				return {
					enableTime: true,
					time_24hr: true,
					minDate: self.$moment()._d,
					plugins: [new confirmDatePlugin({
						confirmIcon: "<i class='mdi mdi-check'></i>",
						confirmText: ""
					})],
					dateFormat: "Y-m-d H:i"
				}
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Document' : 'Edit Document'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		watch: {
			// mData: {
			// 	handler(val){
			// 		// console.log(val)
			// 		this.$store.commit('klausul_disclaimer/savedStateAddKlausul', {
			// 			title: val.title,
			// 			content: val.content,
			// 			position: val.position,
			// 			category: val.category,
			// 			klausul_type: val.klausul_type,
			// 		})
			// 	},
			// 	deep: true
			// }
		},
		methods: {
			readFile (e) {
				// console.log(e.target.files[0].name)
				// this.imgExt = '.'+e.target.files[0].name.split('.').pop()
				// this.imageName = e.target.files[0].name.split('.')[0]
				// console.log(e.target.files[0].name.split('.').pop())
				const file = e.target.files[0];
				// console.log(file)
				this.mData.files = file
				// if (!file.type.includes('image/')) {
				// 	alert('Please select an image file');
				// }
				// if (typeof FileReader === 'function') {
				// 	const reader = new FileReader();
				// 	reader.onload = (event) => {
				// 		this.imgSrc = event.target.result;
				// 		this.$refs.cropper.replace(event.target.result);
				// 	};
				// 	reader.readAsDataURL(file);
				// } else {
				// 	alert('Sorry, FileReader API not supported');
				// }
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('document/deleteDocument', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.mData = {}
				this.$store.commit('document/clearData')
				this.$nuxt.$router.push('/document')
			},
			async submit(){
				// console.log()
				let textNotifSucced = 'Add document success'
				let textNotifFailed = 'Add document failed'
				let actions = 'addDocument'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update document success'
					textNotifFailed = 'Update document failed'
					actions = 'editDocument'
				}
				// if ((this.$store.state.banner.tempImageFile === null && this.$route.params.id === 'add') || this.mData.image_url === undefined){
				// 	this.showNotification('Image not set, please select the image', false, 'danger')
				// }else{
				this.modalPercentage('show')
				// this.mData.images = this.$store.state.banner.tempImageFile
				// this.mData.content = this.textContent
				// console.log(this.$store.state.masterdata.tempImageFile)
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				// console.log(this.textContent)
				this.$store.dispatch('document/'+actions, this.mData)
					.then((res) => {
						this.modalPercentage('hide')
						if(res.success){
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/document')
						}else{
							// console.log(res.message)
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						console.log(err)
					})
				// }
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
