<template>
<!--	<div id="modal-center" class="uk-flex-top uk-modal" uk-modal="center: true; esc-close: true; bg-close: false;" data-uk-modal>-->
	<div id="modal-preview-files" class="uk-modal-full uk-modal" data-uk-modal>
		<div class="uk-modal-dialog">
<!--			<button class="uk-modal-close-full uk-close-large" type="button" data-uk-close></button>-->
			<div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" data-uk-grid>
				<client-only>
					<iframe :src="$store.state.setting.pathFilesDocument + $store.state.document.previewFiles" frameborder="0" :height="windowHeight" width="100%"></iframe>
<!--					<iframe :src="fileSource" frameborder="0" :height="windowHeight" width="100%"></iframe>-->
				</client-only>
<!--				<div class="uk-background-cover" :style="{'background-image': 'url(' + bgImage +')'}" data-uk-height-viewport></div>-->
<!--				<div>-->
<!--					<div class="sc-padding-large">-->
<!--						<h1>Headline</h1>-->
<!--						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>
		<div class="sc-fab-page-wrapper uk-animation-slide-left">
			<a href="javascript:void(0)" @click="hide" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-close"></i>
			</a>
		</div>
	</div>
</template>

<script>
export default {
	data: () => ({
		windowHeight: process.browser ? window.innerHeight : null,
		fileSource: 'http://localhost:1829/tni-files/assets/files/document/0lmtBTpeBUgA7V1n2NY6.pdf'
	}),
	computed: {
		bgImage () {
			return require('~/assets/img/photos/briana-tozour-756151-unsplash.jpg')
		},
	},
	methods: {
		onResize () {
			this.windowHeight = window.innerHeight
		},
		hide () {
			this.modalPreviewFiles('hide')
		}
	},
	watch: {
		windowHeight (newHeight, oldHeight) {
			this.txt = `it changes to ${newHeight} from ${oldHeight}`
		}
	},
	mounted() {
		this.$nextTick(() => {
			window.addEventListener('resize', this.onResize)
		})
	},
	beforeDestroy() {
		window.removeEventListener('resize', this.onResize)
	}
}
</script>
