<template>
    <div>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
		<h1>GOOD JOB</h1>
	</div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>
