<template>
    <div>
		<client-only>
			<iframe :src="fileSource" frameborder="0" :height="windowHeight" width="100%"></iframe>
		</client-only>
	</div>
</template>

<script>
    export default {
    	layout: 'preview_files',
        name: "view-files",
		data: () => ({
        	windowHeight: process.browser ? window.innerHeight : null,
			fileSource: 'http://localhost:1829/tni-files/assets/files/document/0lmtBTpeBUgA7V1n2NY6.pdf'
		}),
		methods: {
			onResize () {
				this.windowHeight = window.innerHeight
			}
		},
		watch: {
        	windowHeight (newHeight, oldHeight) {
        		this.txt = `it changes to ${newHeight} from ${oldHeight}`
			}
		},
		mounted() {
			this.fileSource = this.$store.state.setting.pathFilesDocument + this.$store.state.document.previewFiles
        	this.$nextTick(() => {
        		window.addEventListener('resize', this.onResize)
			})
		},
		beforeDestroy() {
        	window.removeEventListener('resize', this.onResize)
		}
	}
</script>

<style scoped>

</style>
